---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a Software Engineer who specializes in game development and children's
    education. I value teamwork and life-long learning and thrive in a highly
    goal-oriented environment. My varied interests and experiences have made me
    comfortable working with people in all age-groups and from all walks of
    life. I infuse purpose into my day-to-day work to operate with a high level
    of enthusiasm every day.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science - Software Engineering"
      subtitle="Expected 2024 from Western Governors University, USA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Lead Sensei"
      subtitle="From September 2021 to May 2023 at Code Ninjas Front Royal, Front Royal, USA"
    >
      Interact with and support the students by maintaining a peaceful upbeat
      atmosphere, answering questions, checking work, and encouraging them.
      Communicate with parents and give feedback. Perform regular PC /
      electronic maintenance and management. Manage technology and electronics
      maintenance, operating 3D printers, VR hardware, and various consoles,
      resulting in an error-free system. Learn new technology, systems, and
      concepts to stay current with the franchise’s living curriculum. Plan and
      prepare for events and camps. Facilitate learning with living curriculum,
      increase student’s satisfaction and retention of material, and train and
      manage interns, resulting in consistent adherence to company values.
      Support the Center Director as needed, i.e. by opening and closing the
      center, assisting with tours, and scheduling.
    </TimeLineElement>
    <TimeLineElement
      title="Code Sensei"
      subtitle="From July 2021 to May 2023 at Code Ninjas Front Royal, Front Royal, USA"
    >
      Guide students ages 5-14 through computer science and coding foundations
      via game development.
    </TimeLineElement>
    <TimeLineElement
      title="Medical Assistant"
      subtitle="From October 2020 to May 2021 at Valley Health, Front Royal, USA"
    >
      Provided excellent care to patients in a fast-paced environment, by
      serving in both clinical and clerical capacity while maintaining an
      empathetic and positive attitude each and every day. • Clerical duties
      included opening the office, handling payments, contacting insurance to
      verify eligibility, scheduling and greeting patients, taking incoming
      phone calls, following up with patients to check on their recovery and to
      address any questions or concerns, and restocking office supplies. •
      Clinical duties included triaging patients, collecting vitals and patient
      history, performing CLIA-waived testing, and providing any other
      assistance necessary to the provider so that the patients received the
      best possible care.
    </TimeLineElement>
    <TimeLineElement
      title="Local Operations Manager"
      subtitle="From June 2019 to July 2020 at Vacasa, Front Royal, USA"
    >
      Developed and grew relationships with property owners by proactively
      communicating and becoming the subject-matter expert of their properties;
      ensuring they are clean, maintained, and well-cared for. Trained and
      managed a team of housekeepers and maintenance staff according to company
      standards. Leverage company and computer tech to manage operational
      budgets, standards, metrics, and communication.
    </TimeLineElement>
    <TimeLineElement
      title="Enrichment Program Teacher"
      subtitle="From August 2018 to May 2019 at Divinum Auxilium, Front Royal, USA"
    >
      Incorporated Montessori and Classical methods to teach students
      Intermediate Latin in classroom setting. Planed and adapted curriculum to
      student needs and create worksheets and activities for classes.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.credly.com/badges/df9093af-cbff-48c3-bb6f-0c77f3d714e3/public_url"
        target="_blank">CompTIA A+</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/5a248e8f-2b5c-49d4-ae8f-041ac00ee142/public_url"
        target="_blank">Google IT Support</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>C#</li>
    <li>Git</li>
    <li>Godot</li>
    <li>GDScript</li>
    <li>PostgresSQL</li>
    <li>JavaScript</li>
    <li>HTML5</li>
    <li>CSS</li>
    <li>SDLC</li>
    <li>Data Structures</li>
    <li>Algorithms</li>
  </ul>
</BaseLayout>
