---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Profile</div>
	</div>

	<div class="mb-10 text-justify">
		I am a Software Engineer who values teamwork and life-long learning. My
		varied interests and experiences have made me comfortable working with
		people in all age-groups and from all walks of life. I infuse purpose into
		my day-to-day work to operate with a high level of enthusiasm every day.
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Bachelor of Science - Software Engineering"
			subtitle="Expected 2024 from Western Governors University, USA"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Lead Sensei"
			subtitle="From September 2021 to May 2023 at Code Ninjas Front Royal, Front Royal, USA"
		>
			<ul>
				<li>
					• Teach children (5 - 14) computer science and coding foundations via
					game development.
				</li>
				<li>
					• Learn new technology, systems, and concepts to stay current with the
					franchise’s living curriculum. Plan and prepare for events and camps.
				</li>
				<li>
					• Mentor students by answering questions, checking work, and coding
					along. Communicate with parents and create custom study-plans.
				</li>
				<li>
					• Manage technology and electronics maintenance, operating PCs, 3D
					printers, VR hardware, and consoles, resulting in an error-free
					system.
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Code Sensei"
			subtitle="From July 2021 to May 2023 at Code Ninjas Front Royal, Front Royal, USA"
		>
			<ul>
				<li>
					• Teach children (5 - 14) computer science and coding foundations via
					game development.
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Medical Assistant"
			subtitle="From October 2020 to May 2021 at Valley Health, Front Royal, USA"
		>
			<ul>
				<li>
					• Provided excellent care to patients in a fast-paced environment, by
					serving in both clinical and clerical capacity while maintaining an
					empathetic and positive attitude each and every day.
				</li>
				<li>
					• Clerical duties included opening the office, handling payments,
					contacting insurance to verify eligibility, scheduling and greeting
					patients, taking incoming phone calls, following up with patients to
					check on their recovery and to address any questions or concerns, and
					restocking office supplies.
				</li>
				<li>
					• Clinical duties included triaging patients, collecting vitals and
					patient history, performing CLIA-waived testing, and providing any
					other assistance necessary to the provider so that the patients
					received the best possible care.
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Local Operations Manager"
			subtitle="From June 2019 to July 2020 at Vacasa, Front Royal, USA"
		>
			<ul>
				<li>
					• Developed and grew relationships with property owners by proactively
					communicating and becoming the subject-matter expert of their
					properties; ensuring they are clean, maintained, and well-cared for.
				</li>
				<li>
					• Trained and managed a team of housekeepers and maintenance staff
					according to company standards.
				</li>
				<li>
					• Leverage company and computer tech to manage operational budgets,
					standards, metrics, and communication.
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Enrichment Program Teacher"
			subtitle="From August 2018 to May 2019 at Divinum Auxilium, Front Royal, USA"
		>
			<ul>
				<li>
					• Incorporated Montessori and Classical methods to teach students
					Intermediate Latin in classroom setting.
				</li>
				<li>
					• Planed and adapted curriculum to student needs and create worksheets
					and activities for classes.
				</li>
			</ul>
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Certifications</div>
	</div>

	<ul class="list-disc mx-6 mb-10 grid gap-2">
		<li>
			<a
				href="https://www.credly.com/badges/8ad582e1-72ba-4e34-a731-ee95c3ad463e/public_url"
				target="_blank">AWS Certified Cloud Practitioner</a
			>
		</li>
		<li>
			<a
				href="https://www.credly.com/badges/df9093af-cbff-48c3-bb6f-0c77f3d714e3/public_url"
				target="_blank">CompTIA A+</a
			>
		</li>
		<li>
			<a
				href="https://www.credly.com/badges/5a248e8f-2b5c-49d4-ae8f-041ac00ee142/public_url"
				target="_blank">Google IT Support</a
			>
		</li>
	</ul>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>Python</li>
		<li>C#</li>
		<li>Git</li>
		<li>Godot</li>
		<li>GDScript</li>
		<li>PostgresSQL</li>
		<li>JavaScript</li>
		<li>HTML5</li>
		<li>CSS</li>
		<li>SDLC</li>
		<li>Data Structures</li>
		<li>Algorithms</li>
	</ul>
</BaseLayout>
