---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Gamedev Projects</div>
  </div>

  <HorizontalCard
    title="Richard Smiley - The Gladiator"
    img="/gladiator.png"
    desc="2D Survival Arena game where you must survive ever-increasing waves of enemies while collecting experience to power-up and gain new abilities."
    url="https://github.com/Heidi-Negrete/the-gladiator"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Cocoon"
    img="/cocoon.png"
    desc="An atmospheric RPG where the protagonist journeys through biomes both micro and macro-scopic to realize their full potential."
    url="https://heidi-negrete.github.io/cocoon/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Other Projects</div>
  </div>

  <HorizontalCard
    title="CompSci Curriculum for Ages 6-12"
    img="/post_img.webp"
    desc="The resources I have created and collected for use in educating children in Computer Literacy and Computer Science fundamentals, made freely available."
    url="https://heidi-negrete.github.io/kids-computer-curriculum/"
  />
  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
