---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Heidi Negrete
  </div>
  <!-- <div class="inline opacity-75">
    Want something else here?
  </div> -->
</footer>
<style></style>
